@model VisionsConstructionLLC.Database.Entities.Gallery.Item

@{
	ViewBag.Title = "CreateItem";
	Layout = "~/Views/_Layout.cshtml";
}

<section class="row padding">
	<h1>Create Item</h1>
	@using (Html.BeginForm()) {
		@Html.AntiForgeryToken()
		<h4>Gallery Item</h4>
		@Html.ValidationSummary()
		if (TempData["Success"] != null) {
			<p class="bg-success">@TempData["Success"]</p>
		}
		@Html.HiddenFor(model => model.GalleryCategoryId)
		<div class="form-group">
			@Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBoxFor(model => model.Title, null, new { @class = "light", autocomplete = "off" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.DescriptionUTF8, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextAreaFor(model => model.DescriptionUTF8, new { autocomplete = "off" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Submit" class="light" />
			</div>
		</div>
		<div class="back">
			@Html.ActionLink("Back", "ModifySelection", new { id = Model.GalleryCategoryId })
		</div>
	}
</section>