@model VisionsConstructionLLC.Database.Entities.Gallery.Item

@{
	ViewBag.Title = Model.Title;
	Layout = "~/Views/_Layout.cshtml";
}

<section class="row padding">
	<div class="col-md-12">
		<h1>@Model.Title</h1>
		<div class="row">
			@if (Model.ItemImages.Count > 0) {
				<div class="col-md-12">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							@for (int i = 0; i < Model.ItemImages.Count; i++) {
								if (Model.ItemImages.ElementAt(i).ActiveStatus == VisionsConstructionLLC.Database.Models.Enums.ActiveStatus.ACTIVE) {
									<li data-target="#carousel-example-generic" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
								}
							}
						</ol>
						<div class="carousel-inner" role="listbox">
							@for (int i = 0; i < Model.ItemImages.Count; i++) {
								if (Model.ItemImages.ElementAt(i).ActiveStatus == VisionsConstructionLLC.Database.Models.Enums.ActiveStatus.ACTIVE) {
									<div class="item @(i == 0 ? "active" : "")">
										<img src="~/Gallery/Image/@Model.ItemImages.ElementAt(i).Id/0/900" />
										<div class="carousel-caption">
										</div>
									</div>
								}
							}
						</div>
						<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
					<hr />
				</div>
			}
			<div class="col-md-12">
				<div class="normalize">
					@Html.Raw(Model.DescriptionUTF8)
				</div>
			</div>
			<div class="col-md-12 back">
				@Html.ActionLink("Back", "Category/" + @Model.GalleryCategoryId, "Gallery")
			</div>
		</div>
	</div>
</section>