@model VisionsConstructionLLC.Database.Entities.Email

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/_Layout.cshtml";
}

<section class="row padding">
	<div class="col-md-12">
		<h1>Email Message</h1>
		<h4>Name</h4>
		<p>@Model.Name</p>
		<h4>Email Address</h4>
		<p>@Model.Address</p>
		<h4>Phone Number</h4>
		<p>@(Model.Phone == null || Model.Phone.Length == 0 ? "Not Provided" : Model.Phone)</p>
		<h4>Date</h4>
		<p>@Model.Date</p>
		<h4>Message</h4>
		<p>@Model.Message</p>
	</div>
	<div class="col-md-12 back">
		@Html.ActionLink("Back", "Email", "EmailAdministration")
	</div>
</section>